
<body>

  <div class="login-container">
    <h2>LOGIN TO OUR SITE</h2>
    <p>Use the form below to login to our website if you have an account.</p>

    <div class="login-form">
      <input type="text" placeholder="Username...">
      <input type="password" placeholder="Password...">
      <button >Sign in!</button>

      <div class="remember">
        <input type="checkbox" id="remember">
        <label for="remember">Remember me</label>
      </div>

      <!-- Lien de mot de passe oublié -->
      <div class="forgot-password">
<a href="forgot-password" class="forgot-link">Forgot Password?</a>

      </div>
    </div>


  </div>

</body>
